.changepass{
    background-color: aqua!important;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    right: 40%;
    left: 35%;
    margin: auto;
    padding: 2em 5em;
}