{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/taskboard.css') }}">
    {% if current_user.is_authenticated %}
            <div class="colla">
                <h1>Collaborate Task</h1>   
                <a href ="/addcollaborator" id="addcoll">Add Collaborator</a>
 
                <li id="addcoll"><a href="/collapriority">Sort by priority</a></li>

                {% for task in tasks %}
                <h2>Task</h2>
                <ul>
                    <li>
                        {{ task.content }} (Priority: {{task.priority}}) ({{task.category.category}})(Time: {{task.estimatehr}} hrs {{task.estimatemin}} mins) (Assigned to: {{task.assign_user}}) <br> <a href= "/edittask/{{task.id}}">Edit</a>  <a href= "/delete/{{task.id}}"> Delete</a>  <a href= "/reminder/{{task.id}}">Set reminder</a> <a href="/addsubtask/{{task.id}}">Add subtask</a> <a href="/assignuser/{{task.id}}">Assign User</a>
                        <ul>
                    
                            {% for subtask in task.subtask %}
		                        <li>                    
        	                        {{subtask.subtask}}
		                        </li>                     
  		                    {% endfor %}    
                        </ul>
                    </li>
                </ul>
                {% endfor %}
                <div class="addtask">
                    <strong>Add a new todo item:</strong>  
                    <a href="/addcollaboratetask"> add</a>
                </div> 
            </div>
    {% endif %}
{% endblock %}
