{% extends "base.html" %}

{% block content %}
    
    <form action="" method="post" novalidate>
        <h1>Log In</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
        <p><a href="/signup">Don't have an Account?</a></p>
    </form>
{% endblock %}
