{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formpage.css') }}">
    <div class="form_page">
        <h1>Add Subtask</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.addsubtask.label }}<br>
                {{ form.addsubtask(size=40) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    
{% endblock %}